.speech {
    font-size: 15px;
    color: black;
}

.stage-direction {
    font-size: 18px;
    color: black;
    background-color: cornflowerblue;
}
.stage-direction:hover {
    background-color: darkblue;
    color:whitesmoke;
}

.name {
    font-size: 20px;
    color: black;
}

.PORTIA {
    color: black;
}
.BASSANIO{
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;

  }
  
  th, td {
    text-align: left;
    padding: 8px;
    margin: 4px;
    border: 2px solid orange;
  }
  
  tr:nth-child(even) {
      background-color: #e0ffde;
    }
    .name:hover{
        color: purple;
        text-shadow: 2px 2px 4px grey;
        border-style: dotted dashed solid double;
    }